---
http_interactions:
- request:
    method: get
    uri: https://bikeindex.org/api/v3/search?per_page=100&serial=WSBC602203254K&stolenness=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Total:
      - '1'
      Per-Page:
      - '100'
      Etag:
      - W/"901030d8d24a7a9492f1df45ff1ca088"
    body:
      encoding: ASCII-8BIT
      string: '{"bikes":[{"id":97515,"title":"2015 Specialized Jett 29","serial":"Wsbc602203254k","manufacturer_name":"Specialized","frame_model":"Jett
        29","year":2015,"frame_colors":["Black","Silver or Gray"],"thumb":null,"large_img":null,"is_stock_img":false,"stolen":false,"stolen_location":null,"date_stolen":null}]}'
  recorded_at: Mon, 17 Oct 2016 16:33:03 GMT
recorded_with: VCR 3.0.3
