---
http_interactions:
- request:
    method: get
    uri: https://bikeindex.org/api/v3/search?per_page=100&serial=Y524347&stolenness=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Total:
      - '1'
      Per-Page:
      - '100'
      Etag:
      - W/"30e1d90d34a5b26e1f71f93c02354486"
    body:
      encoding: ASCII-8BIT
      string: '{"bikes":[{"id":30569,"title":"Schwinn Traveler","serial":"Y524347","manufacturer_name":"Schwinn","frame_model":"Traveler","year":null,"frame_colors":["Red","Black"],"thumb":"https://files.bikeindex.org/uploads/Pu/15678/small_IMG_20141028_140215450.jpg","large_img":"https://files.bikeindex.org/uploads/Pu/15678/large_IMG_20141028_140215450.jpg","is_stock_img":false,"stolen":false,"stolen_location":null,"date_stolen":null}]}'
  recorded_at: Fri, 14 Oct 2016 23:18:22 GMT
recorded_with: VCR 3.0.3
