---
http_interactions:
- request:
    method: get
    uri: https://bikeindex.org/api/v3/search?per_page=100&serial=STOLEN_SERIAL_NUMBER&stolenness=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Total:
      - '1'
      Per-Page:
      - '100'
      Etag:
      - W/"07203546a55b44103600257bf50223cf"
    body:
      encoding: ASCII-8BIT
      string: '{"bikes":[{"id":3414,"title":"2014 Jamis Allegro Comp Disc","serial":"stolen_serial_number","manufacturer_name":"Jamis","frame_model":"Allegro
        Comp Disc","year":2014,"frame_colors":["Blue"],"thumb":"https://bikebook.s3.amazonaws.com/uploads/Fr/9979/small_14_allegrocompdisc_bk.jpg","large_img":"https://bikebook.s3.amazonaws.com/uploads/Fr/9979/14_allegrocompdisc_bk.jpg","is_stock_img":true,"stolen":true,"stolen_location":"Chicago,IL,60647","date_stolen":1400565600}]}'
  recorded_at: Fri, 14 Oct 2016 21:16:20 GMT
recorded_with: VCR 3.0.3
