---
http_interactions:
- request:
    method: get
    uri: https://bikeindex.org/api/v3/search?per_page=100&serial=some%20number&stolenness=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Total:
      - '1'
      Per-Page:
      - '100'
      Etag:
      - W/"f9add329401c0b6a18e065bef552a287"
    body:
      encoding: ASCII-8BIT
      string: '{"bikes":[{"id":30080,"title":"2014 Jamis Allegro Sport Femme","serial":"some
        serial number","manufacturer_name":"Jamis","frame_model":"Allegro Sport Femme","year":2014,"frame_colors":["Blue"],"thumb":"https://bikebook.s3.amazonaws.com/uploads/Fr/9984/small_14_allegrosportfemme_wh.jpg","large_img":"https://bikebook.s3.amazonaws.com/uploads/Fr/9984/14_allegrosportfemme_wh.jpg","is_stock_img":true,"stolen":false,"stolen_location":null,"date_stolen":null}]}'
  recorded_at: Fri, 14 Oct 2016 19:01:33 GMT
recorded_with: VCR 3.0.3
