.container-fluid
  %header.info-header
    %h4
      Serial Searches for
      %em
        = @ip_address.address
        from
        = @ip_address.location
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Serial
        %th Most Recent Search
    %tbody
    - @ip_address.serial_searches.each do |serial_search|
      %tr
        %td
          = link_to serial_search.serial, serial_search_path(serial_search.id)
        %td
          = l serial_search.last_request_at, format: :log_request_time