$enable-flex: true;
@import "bootstrap";

.info-header {
  padding:  20px 0px 20px 0px;
}

.header-sortable {
  th a {
    &:before {
      display: inline-block;
      content: '';
      float: right;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      //
      border-bottom: 10px solid black;
      // border-top: 10px solid black;
    }
    &:after {
      display: inline-block;
      content: '';
      float: right;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      //
      // border-bottom: 10px solid black;
      border-top: 10px solid black;
    }
    &.asc:before {
      // border-bottom: 10px solid black;
      border-bottom: 10px solid blue;
    }
    &.desc:after {
      // border-top: 10px solid black;
      border-top: 10px solid blue;
    }
    &.current:after {

    }
  }
}