.container-fluid
  %header.info-header
    %h4
      = @user.email
  - if @user_serial_searches == [nil]
    These aren't the bikes people are searching for!
    There have been no serial searches matching your bikes!
  - else
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th serial searched for
          %th time
          %th location
      - @user_bikes['bikes'].each do |bike|
        %h5
          = bike['title']
        %a{ href: "https://bikeindex.org/bikes/#{bike['id']}" } View Bike on BikeIndex
        %tbody
          %tr
            %td
              = @user_serial_searches.serial
            %td
              / = @user_serial_searches.searched_bike_index_at
            %td
              / = @user_serial_searches.ip_address.city

